[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumplus = "==0.0.8"
bumpversion = "==0.5.3"
docker-compose = "*"
ansible-vault = "*"
ipdb = "*"
ipython = "*"
pytest-cov = ">=2.5.1"
pytest-flask = "*"
pytest-mock = "==1.9.0"
pytest-runner = "*"
pytest = ">=3.2.2"
Faker = ">=1.0.2"
PyHamcrest = ">=1.9.0"
restview = ">=2.8.1"
rst = ">=0.1"
mock = ">=2.0.0"
tox = ">=2.8.2"
pre-commit = "*"

[packages]
apispec = "==0.39.0"
boto3 = "==1.9.57"
botocore = "==1.12.57"
factory-boy = "==2.11.1"
flasgger = "==0.9.2"
flask-marshmallow = "==0.9.0"
furl = "==1.0.1"
pynamodb = "==3.3.0"
requests = ">=2.18.4"
sentry-sdk = "==0.5.5"
setproctitle = "==1.1.10"
wit = ">=5.1.0"
yamlreader = "==3.0.4"
Flask = "==1.0.2"
Flask-Cors = ">=3.0.4"
Flask-RESTful = "==0.3.6"
Flask-Script = "==2.0.6"
PyYAML = "==3.13"
Werkzeug = ">=0.14"

[requires]
python_version = "3.7.3"
